.Cart-Back{
  padding:10px;
  margin:5px;
  cursor: pointer;
  background-color: #3d3838;
  border: 1px solid black;
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;
  color: white;
  font-size: 15px;
}
.Cart-Back:hover{
  opacity:.8;
  transition: .2s ease-in-out;
}
.Cart-Container {
  width:100%;
  border: 1px solid black;
  background-color: white;
}

.Cart-Empty-Message{
  margin:5px;
}

.Cart-Footer{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Cart-Footer-Total{
  flex:10;
  text-align: center;
}
.Cart-Footer-Checkout{
  background-color: #3d3838;
  border: 1px solid black;
  cursor: pointer;
  color: white ;
  font-size: 15px;
  margin:5px;
  margin-right: 10px;
  padding:10px;
  box-sizing: border-box;
}
.Cart-Footer-Checkout:hover{
  opacity:.8;
  transition: .2s ease-in-out;
}

.Cart-Line {
  display: block;
  height:40px;
  margin:5px;
  background-color: whitesmoke;
  font-size: 12px;
}

.Cart-Item-Name{
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  text-align: left;
  margin:5px;
  margin-right:1px;
  line-height: 13px;
  width:52%;
}

.Cart-Item-Price{
  box-sizing: border-box;
  display: inline;
  float:right;
  width:15%;
  /* height:100%; */
  line-height: 40px;
  text-align: center;
}

.Cart-Quantity-Widget{
  display:inline;
  float:right;
  line-height: 40px;
  text-align: center;
}

.Cart-Item-Quantity{
  display: inline-flex;
}

.Cart-Button{
  position: relative;
  box-sizing: border-box;
  display: inline;
  height:100%;
}

.Cart-Remove{
  box-sizing: border-box;
  display: inline;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}

.Cart-Feather{
  position: relative;
  user-select: none;
  transform: translateY(30%);
}
/* div{
  overflow-wrap: break-word;
} */