.Product {
  padding:20px;
  padding-top: 30px;
  border: 1px solid lightgray; 
}

.Product-bar {
  flex:1;
  display: flex;
}

.Product-description {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #222;
  margin-bottom: 20px;
  text-align: justify

}

.Product-image {
  width: 100%;
  cursor: pointer;
  border: 1px solid lightgray; 
}

.Product-Page-image {
  width: 100%;
  cursor: pointer;
  border: 1px solid lightgray; 
}

.Product-image:hover { 
  border: 1px solid black; 
} 

.Product-name {
  flex: 4;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #222;
  text-align: left;

}

.Product-price {
  flex: 1;
  font-family: "Inconsolata", sans-serif;
  color: #706969;
  font-size: 12px;
  line-height: 25px;
  text-align: right;
  padding-right: 10px;
}

@media (min-width: 750px) {
  .Container {
    width:75%;
    margin: 0 auto;
  }
}