

.Store-Product {
  padding:20px;
  padding-top: 30px;
  border: 1px solid lightgray; 
}

.Store-Product-bar {
  flex:1;
  display: flex;
}

.Store-Product-Page-image {
  width: 100%;
  cursor: pointer;
  border: 1px solid lightgray; 
  padding:3px;
}

.Store-Product-image:hover { 
  border: 1px solid black; 
} 

.Store-Product-name {
  flex: 4;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #222;
  text-align: left;
}


@media (min-width: 750px) {
  .Store-Container {
    display: flex;
    flex-wrap: wrap;
    /* margin: -1rem -1rem; */
    padding-bottom: 3rem;
  }
  .Store-Product {
    position: relative;
    /* flex: 1 0 2rem; */
    flex: 1 0 22rem;
    margin: 1rem;
    min-width: 400px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
