.Menu-Container{
  position: relatve;
  border-radius: 3px;
  top:15px;
  left:15px;
  width:35px;
  height:30 px;
  text-align: center;
  background-color: white;
  box-sizing: border-box;
  z-index: 100;
  cursor: pointer;

}

.Menu-Feather{
  width: 24px;
  height: 24px;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Menu-Dropdown{
  box-sizing: border-box;
  position: absolute;
  width:100px;
  height:30px;
  cursor: pointer;
  z-index: 5;
  background-color: lightgray;
}

.Menu-Dropdown:hover {
  background-color:grey;
  transition: .2s ease-in-out;
}

.Menu-hr{
  position: absolute;
  margin:0;
  border: 0;
  height: 1px;
  background: #333;
  width:80%;
  left:10%
}

.Menu-Text{
  position: relative;
  /* top:10%; */
  user-select: none;
  display: inline;
  color:black;
  padding:5px;
  line-height: 30px;
}
