.App {
  width:100%;
  text-align: center;
  background-color: white;
  padding-bottom: 50px;
}

.Add-to-cart {
  background-color: #3d3838;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 15px;
  padding:10px;
  user-select: none;
  transition: .2s ease-in-out;

}

.Add-to-cart:hover {
  opacity: .8;
}

.Carousel-Chevron {
  cursor: pointer;
}

.Cart-back{
  align-self: flex-start;
  cursor: pointer;
  background-color: #3d3838;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  font-size: 15px;
  padding:10px;
}
.Cart-back:hover{
  opacity:.8;
  transition: .2s ease-in-out;

}


.Cart-container {
  width:100%;
  border: 1px solid black;
  background-color: white;
}

.Cart-footer{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Cart-footer-total{
  flex:10;
  text-align: center;
}
.Cart-footer-checkout{
  background-color: #3d3838;
  border: 1px solid black;
  cursor: pointer;
  color: white ;
  font-size: 15px;
  margin:5px;
  padding:10px;

}
.Cart-footer-checkout:hover{
  opacity:.8;
  transition: .2s ease-in-out;
}
.Cart-item-image{
  flex:1;
  height: 40px;
  padding: 5px;
}

.Cart-item-name{
  flex: 10;
}

.Cart-item-options{
  flex: 10;
}

.Cart-item-price{
  flex: 2
}

.Cart-line {
  margin:  3px;
  background-color: rgb(99, 82, 82);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Cart-icon {
  position: relative;
  margin: 2px;
  margin-right: 20px;
  padding: 5px;
  width:25px;
  height:25px;
  cursor: pointer;
  /* align-items: center; */
  /* justify-content: center; */
  background-color: white;
  font-size: 20px;

}

.Cart-Icon-Number{
  position: absolute;
  left:16px;
  top:6px;
  font-size: 12px;


}

.Cart-remove-x {
  cursor: pointer;
  padding:5px;
  margin:2px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 30px;
  user-select: none;
}

.checkout-shipping-dropdown{
  width:250px;
  padding:10px;
  margin:10px;
  margin-bottom: 10px

}

.checkout-container{
  width:100%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center
}

.Container {
  width:100%;
  margin: 0 auto;
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.Gallery-Container{
  position: relative;
  margin-bottom: 10px
}
.Gallery-Image-Container{
  position: relative;
}

.Gallery-Image{
  width:90%;
  border: 1px solid lightgray;
}

.Gallery-Left-Nav-Icon{
  position:relative;
  text-align: left;
  top:50%;
  user-select: none;
  transform: translate(0, -150%);
  font-weight: 900;
  font-size: 18px;
  transition: .2s ease-in-out;

}

.Gallery-Right-Nav-Icon{
  position:relative;
  text-align: right;
  top:50%;
  font-weight: 900;
  user-select: none;
  transform: translate(0, -150%);
  transition: .2s ease-in-out;
  font-size: 18px;
}

.Gallery-Left-Nav{
  position: absolute;
  width:10%;
  height:100%;
  top:0;
  left:0;
  cursor: pointer;
}

.Gallery-Right-Nav{
  position: absolute;
  width:10%;
  height:100%;
  top:0;
  right:0;
  cursor: pointer;

}

input{
  width: 250px;
  padding:10px;
  margin:10px;
  box-sizing: border-box;

}

.Items-container {
  height:300px
}

.Product {
  padding:20px;
  padding-top: 30px;
  border: 1px solid lightgray; 
}

.Product-bar {
  flex:1;
  display: flex;
}

.Product-description {
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #222;
  margin-bottom: 20px;
  text-align: justify

}

.Product-image {
  width: 100%;
  cursor: pointer;
  border: 1px solid lightgray; 
}

.Product-Page-image {
  width: 100%;
  cursor: pointer;
  border: 1px solid lightgray; 
}

.Product-image:hover { 
  border: 1px solid black; 
} 

.Product-name {
  flex: 4;
  font-family: "Gotham A", "Gotham B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
  color: #222;
  text-align: left;

}

.Product-price {
  flex: 1;
  font-family: "Inconsolata", sans-serif;
  color: #706969;
  font-size: 12px;
  line-height: 25px;
  text-align: right;
  padding-right: 10px;
}

.Select-Bullets{
  display:inline;
  user-select: none;
  transition: .2s ease-in-out;
  font-size: 8px;
  opacity:.6
}

.Select-Container{
  position: relative;
  width:100%;
  height:30px;
  background-color: 'white';
  box-sizing: border-box;
}

.Select-Dropdown{
  box-sizing: border-box;
  position: absolute;
  width:100%;
  height:30px;
  border: 1px solid black;
  border-top-width: 0px;
  cursor: pointer;
  z-index: 5;

}

.Select-Dropdown:hover {
  color:grey;
  transition: .2s ease-in-out;
}


.Select-Chevron{
  position: absolute;
  height:18px;
  width:18px;
  top:15%;
  right:10px;
  user-select: none;
  font-weight: 900;
  font-size: 13px;
  border: 1px solid black;
  border-radius: 100px;
  transition: .2s ease-in-out;
}


.Select-Main{
  box-sizing: border-box;
  position: absolute;
  top:0;
  width:100%;
  height:30px;
  border: 1px solid black;
  background-color: 'white';
  cursor: pointer;
}

.Select-Main:hover {
  opacity: .6;
  transition: .2s ease-in-out;

}

.Select-Text{
  position: relative;
  top:15%;
  user-select: none;
  display: inline;
}

.Store-title {
  flex:10;
  font-family: "Playfair Display", serif;
  text-align: justify;
}

svg {
  fill: rgb(200, 200, 200);
  float:left;
}

.Top-bar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  background-color: #3d3838;


}








.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@media (min-width: 750px) {
  .Container {
    width:75%;
    margin: 0 auto;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
